In [1]:
import pandas as pd
import numpy as np

In [2]:
call_center_data = pd.read_csv("Call_Center_Data.csv")
call_center_data

,Index,Incoming Calls,Answered Calls,Answer_Speed_AVG,Talk_Duration_AVG,Waiting_Time_AVG
0,1,217,204,00:00:17,00:02:14,00:02:45
1,2,200,182,00:00:20,00:02:22,00:06:55
2,3,216,198,00:00:18,00:02:38,00:03:50
3,4,155,145,00:00:15,00:02:29,00:03:12
4,5,37,37,00:00:03,00:02:06,00:00:35
...,...,...,...,...,...,...
1246,1247,191,184,00:00:07,00:02:50,00:01:56
1247,1248,212,209,00:00:10,00:02:51,00:01:45
1248,1249,210,203,00:00:12,00:03:22,00:03:52
1249,1250,167,159,00:00:16,00:03:16,00:02:42
1250,1251,12,11,00:00:03,00:02:12,00:00:58

In [3]:
call_center_data['Abandoned Calls'] = call_center_data['Incoming Calls'] - call_center_data['Answered Calls']
call_center_data

,Index,Incoming Calls,Answered Calls,Answer_Speed_AVG,Talk_Duration_AVG,Waiting_Time_AVG,Abandoned Calls
0,1,217,204,00:00:17,00:02:14,00:02:45,13
1,2,200,182,00:00:20,00:02:22,00:06:55,18
2,3,216,198,00:00:18,00:02:38,00:03:50,18
3,4,155,145,00:00:15,00:02:29,00:03:12,10
4,5,37,37,00:00:03,00:02:06,00:00:35,0
...,...,...,...,...,...,...,...
1246,1247,191,184,00:00:07,00:02:50,00:01:56,7
1247,1248,212,209,00:00:10,00:02:51,00:01:45,3
1248,1249,210,203,00:00:12,00:03:22,00:03:52,7
1249,1250,167,159,00:00:16,00:03:16,00:02:42,8
1250,1251,12,11,00:00:03,00:02:12,00:00:58,1

In [4]:
call_center_data["Answering Rate,%"] =(call_center_data['Answered Calls']*100)/ call_center_data["Incoming Calls"]
pd.set_option('display.float_format', lambda x: '%.2f' % x)
call_center_data

,Index,Incoming Calls,Answered Calls,Answer_Speed_AVG,Talk_Duration_AVG,Waiting_Time_AVG,Abandoned Calls,"Answering Rate,%"
0,1,217,204,00:00:17,00:02:14,00:02:45,13,94.01
1,2,200,182,00:00:20,00:02:22,00:06:55,18,91.00
2,3,216,198,00:00:18,00:02:38,00:03:50,18,91.67
3,4,155,145,00:00:15,00:02:29,00:03:12,10,93.55
4,5,37,37,00:00:03,00:02:06,00:00:35,0,100.00
...,...,...,...,...,...,...,...,...
1246,1247,191,184,00:00:07,00:02:50,00:01:56,7,96.34
1247,1248,212,209,00:00:10,00:02:51,00:01:45,3,98.58
1248,1249,210,203,00:00:12,00:03:22,00:03:52,7,96.67
1249,1250,167,159,00:00:16,00:03:16,00:02:42,8,95.21
1250,1251,12,11,00:00:03,00:02:12,00:00:58,1,91.67

In [5]:
call_center_data["Abandonment Rate,%"] = 100 - (call_center_data['Answering Rate,%'])
pd.set_option('display.float_format', lambda x: '%.2f' % x)
call_center_data

,Index,Incoming Calls,Answered Calls,Answer_Speed_AVG,Talk_Duration_AVG,Waiting_Time_AVG,Abandoned Calls,"Answering Rate,%","Abandonment Rate,%"
0,1,217,204,00:00:17,00:02:14,00:02:45,13,94.01,5.99
1,2,200,182,00:00:20,00:02:22,00:06:55,18,91.00,9.00
2,3,216,198,00:00:18,00:02:38,00:03:50,18,91.67,8.33
3,4,155,145,00:00:15,00:02:29,00:03:12,10,93.55,6.45
4,5,37,37,00:00:03,00:02:06,00:00:35,0,100.00,0.00
...,...,...,...,...,...,...,...,...,...
1246,1247,191,184,00:00:07,00:02:50,00:01:56,7,96.34,3.66
1247,1248,212,209,00:00:10,00:02:51,00:01:45,3,98.58,1.42
1248,1249,210,203,00:00:12,00:03:22,00:03:52,7,96.67,3.33
1249,1250,167,159,00:00:16,00:03:16,00:02:42,8,95.21,4.79
1250,1251,12,11,00:00:03,00:02:12,00:00:58,1,91.67,8.33

In [6]:
call_center_data['Answer_Speed_AVG'] = pd.to_datetime(call_center_data.Answer_Speed_AVG)
call_center_data['Answer_Speed_SEC'] = (pd.to_timedelta(call_center_data['Answer_Speed_AVG'].dt.strftime('%H:%M:%S')).dt.total_seconds().astype(int))
call_center_data

,Index,Incoming Calls,Answered Calls,Answer_Speed_AVG,Talk_Duration_AVG,Waiting_Time_AVG,Abandoned Calls,"Answering Rate,%","Abandonment Rate,%",Answer_Speed_SEC
0,1,217,204,2022-12-16 00:00:17,00:02:14,00:02:45,13,94.01,5.99,17
1,2,200,182,2022-12-16 00:00:20,00:02:22,00:06:55,18,91.00,9.00,20
2,3,216,198,2022-12-16 00:00:18,00:02:38,00:03:50,18,91.67,8.33,18
3,4,155,145,2022-12-16 00:00:15,00:02:29,00:03:12,10,93.55,6.45,15
4,5,37,37,2022-12-16 00:00:03,00:02:06,00:00:35,0,100.00,0.00,3
...,...,...,...,...,...,...,...,...,...,...
1246,1247,191,184,2022-12-16 00:00:07,00:02:50,00:01:56,7,96.34,3.66,7
1247,1248,212,209,2022-12-16 00:00:10,00:02:51,00:01:45,3,98.58,1.42,10
1248,1249,210,203,2022-12-16 00:00:12,00:03:22,00:03:52,7,96.67,3.33,12
1249,1250,167,159,2022-12-16 00:00:16,00:03:16,00:02:42,8,95.21,4.79,16
1250,1251,12,11,2022-12-16 00:00:03,00:02:12,00:00:58,1,91.67,8.33,3

In [10]:
#making classes
answering_speed = [
    (call_center_data['Answer_Speed_SEC'] <= 10),
    (call_center_data['Answer_Speed_SEC'] > 10) &  (call_center_data['Answer_Speed_SEC'] <= 20),
    (call_center_data['Answer_Speed_SEC'] > 20)
]
values = ['FAST', 'MEDIUM', 'SLOW']
call_center_data["Answering_Speed"] = np.select(answering_speed,values)
call_center_data

,Index,Incoming Calls,Answered Calls,Answer_Speed_AVG,Talk_Duration_AVG,Waiting_Time_AVG,Abandoned Calls,"Answering Rate,%","Abandonment Rate,%",Answer_Speed_SEC,Answering_Speed
0,1,217,204,2022-12-16 00:00:17,00:02:14,00:02:45,13,94.01,5.99,17,MEDIUM
1,2,200,182,2022-12-16 00:00:20,00:02:22,00:06:55,18,91.00,9.00,20,MEDIUM
2,3,216,198,2022-12-16 00:00:18,00:02:38,00:03:50,18,91.67,8.33,18,MEDIUM
3,4,155,145,2022-12-16 00:00:15,00:02:29,00:03:12,10,93.55,6.45,15,MEDIUM
4,5,37,37,2022-12-16 00:00:03,00:02:06,00:00:35,0,100.00,0.00,3,FAST
...,...,...,...,...,...,...,...,...,...,...,...
1246,1247,191,184,2022-12-16 00:00:07,00:02:50,00:01:56,7,96.34,3.66,7,FAST
1247,1248,212,209,2022-12-16 00:00:10,00:02:51,00:01:45,3,98.58,1.42,10,FAST
1248,1249,210,203,2022-12-16 00:00:12,00:03:22,00:03:52,7,96.67,3.33,12,MEDIUM
1249,1250,167,159,2022-12-16 00:00:16,00:03:16,00:02:42,8,95.21,4.79,16,MEDIUM
1250,1251,12,11,2022-12-16 00:00:03,00:02:12,00:00:58,1,91.67,8.33,3,FAST

In [18]:
#How many employees have a Telephone Answering Rate of more than 80%
answer_1 = len(call_center_data[call_center_data['Answering Rate,%']>80])
print(answer_1)
#Based on the new employee call answering speed category; what percentage of employees fall in the category of MEDIUM?
answer_2 = ((len(call_center_data[call_center_data['Answering_Speed']=="MEDIUM"])))*100/1251
print(answer_2, "%")
#How many employees receive less than 50 calls?
answer_3 = len(call_center_data[call_center_data['Incoming Calls']<50])
print(answer_3)
#What percentage of employees who have a Talk Duration of more than 2 minutes (120 seconds)?
call_center_data['Talk_Duration_AVG'] = pd.to_datetime(call_center_data.Talk_Duration_AVG)
call_center_data['Talk_Duration_SEC'] = (pd.to_timedelta(call_center_data['Talk_Duration_AVG'].dt.strftime('%H:%M:%S')).dt.total_seconds().astype(int))
answer_4 = ((len(call_center_data[call_center_data['Talk_Duration_SEC']>120]))*100)/1251
print(answer_4,"%")

1186
32.37410071942446 %
171
96.08313349320544 %