In [41]:
import pandas as pd
import numpy as np

In [81]:
url = 'https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv'
alcohol_df = pd.read_csv(url)
alcohol_df[(alcohol_df['beer_servings'] == 0)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
13,Bangladesh,0,0,0,0.0
40,Cook Islands,0,254,74,5.9
46,North Korea,0,0,0,0.0
79,Iran,0,0,0,0.0
90,Kuwait,0,0,0,0.0
97,Libya,0,0,0,0.0
103,Maldives,0,0,0,0.0
106,Marshall Islands,0,0,0,0.0
107,Mauritania,0,0,0,0.0
111,Monaco,0,0,0,0.0
128,Pakistan,0,0,0,0.0
147,San Marino,0,0,0,0.0
149,Saudi Arabia,0,5,0,0.1
158,Somalia,0,0,0,0.0

In [82]:
alcohol_df[(alcohol_df['beer_servings'] == 0)]
rows = len(alcohol_df[(alcohol_df['beer_servings'] == 0)])
df2 = str(rows)
print("Number of countries where the beer servings equals to 0 is " + df2)

Number of countries where the beer servings equals to 0 is 15

In [183]:
alcohol_df[(alcohol_df ['beer_servings'] == 0 ) & (alcohol_df ['spirit_servings'] == 0 ) & (alcohol_df ['wine_servings'] == 0 ) & (alcohol_df ['total_litres_of_pure_alcohol'] == 0)]
rows2 = len(alcohol_df[(alcohol_df ['beer_servings'] == 0 ) & (alcohol_df ['spirit_servings'] == 0 ) & (alcohol_df ['wine_servings'] == 0 ) & (alcohol_df ['total_litres_of_pure_alcohol'] == 0)])
df2 = str(rows2)
print("Number of countries where all kind of alcohol consumption is equal to 0 is " + df2)

Number of countries where all kind of alcohol consumption is equal to 0 is 13

In [94]:
alcohol_df[(alcohol_df['total_litres_of_pure_alcohol'] >= 9)]
rows3 = len(alcohol_df[(alcohol_df['total_litres_of_pure_alcohol'] >= 9)])
df2 = str(rows3)
print("Number of countries where the total litres of pure alcohol is higher or equal to 9 is " + df2)

Number of countries where the total litres of pure alcohol is higher or equal to 9 is 34

In [115]:
alcohol_df.iloc[alcohol_df['beer_servings'].argmax()]

country                         Namibia
beer_servings                       376
spirit_servings                       3
wine_servings                         1
total_litres_of_pure_alcohol        6.8
Name: 117, dtype: object

In [118]:
alcohol_df.iloc[alcohol_df['spirit_servings'].argmax()]

country                         Grenada
beer_servings                       199
spirit_servings                     438
wine_servings                        28
total_litres_of_pure_alcohol       11.9
Name: 68, dtype: object

In [117]:
alcohol_df.iloc[alcohol_df['wine_servings'].argmax()]

country                         France
beer_servings                      127
spirit_servings                    151
wine_servings                      370
total_litres_of_pure_alcohol      11.8
Name: 61, dtype: object

In [147]:
search = 'stan'
stan_countries = alcohol_df['country'].str.endswith(search, na= False)
new_alcohol_df = alcohol_df[(stan_countries == True)]
new_alcohol_df['total_litres_of_pure_alcohol'].mean()

2.0142857142857142

In [176]:
alcohol_df
cols = ['beer_servings', 'spirit_servings', 'wine_servings','total_litres_of_pure_alcohol']
alcohol_df ['total']= alcohol_df[cols].sum(axis=1)
alcohol_df
alcohol_df.nlargest(10,'total','all')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,total
3,Andorra,245,138,312,12.4,707.4
68,Grenada,199,438,28,11.9,676.9
45,Czech Republic,361,170,134,11.8,676.8
61,France,127,151,370,11.8,659.8
141,Russian Federation,247,326,73,11.5,657.5
98,Lithuania,343,244,56,12.9,655.9
99,Luxembourg,236,133,271,11.4,651.4
65,Germany,346,117,175,11.3,649.3
75,Hungary,234,215,185,11.3,645.3
135,Poland,343,215,56,10.9,624.9